.DS_Store
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.netrc
.idea
*.ipa


# AppCode
.idea/

# other
build/
*.psd

# macOS
.DS_Store

# Swift Package Manager
.swiftpm
.build/
Package.resolved

# Test artifacts
Tests/Artifacts